<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cliente-add-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="Ingrese Nombre:"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Ingrese Email:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefono</ion-label>
    <ion-input type="tel" placeholder="Ingrese Telefono:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ingreso</ion-label>
    <ion-input type="number" placeholder="Ingrese Ingreso:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Procedencia</ion-label>
    <ion-input type="text" placeholder="Ingrese Procedencia:"></ion-input>
  </ion-item>
  
  <ion-button shape="round" color="primary" expand="block" padding>Confirmar</ion-button>
</ion-content>
